:root {
  --color-bg: rgba(21, 8, 17, 1);
  --color-barbg: rgba(38, 8, 28, 1);
  --color-light: rgba(12, 186, 186, 1);
  --color-medium: rgba(1, 186, 239, 1);
  --color-dark: rgba(56, 0, 54, 1);
  --color-bar: #593b68;
  --color-bar2: #79518e;
  --color-red1: #7E4564;
  --color-red2: #501635;
  --color-red3: #632A49;
  --color-whitered: #BB90A8;
  --page-spacing: 0px;
}
@font-face {
    font-family: 'Fontin SmallCaps';
    src: url('fonts/Fontin-SmallCaps.woff2') format('woff2'),
        url('fonts/Fontin-SmallCaps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  margin: 0;
  background-color: var(--color-bg);
}


.container {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 1;
align-content: space-between;
  align-self: center;
}
.img {
  vertical-align: middle;
}
.hidden {
  display: hidden;
  visibility: hidden;
}

#underneath {
  height: 200px;
  grid-row: 3;
  z-index: 0;
}
